@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */



/*letras peque;as*/
body {

  font: oblique bold 200% cursive;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.1;
  color: #060606;

 margin-top: auto;
  



 background: -webkit-linear-gradient(31deg, rgb(45, 67, 113), rgb(29, 51, 182));
 background: linear-gradient(31deg, rgb(45, 67, 113), rgb(29, 51, 182));
 
 
 
 
}

/*margenes de la pag*/
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(233, 230, 230, 0.7);
  content: "";
}

/*letras peque;as*/
a {
  font-size: 30px;
  color: #eeeeee;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font: oblique bold 200% cursive;
  font-weight: 800;
  margin: 0 0 20px 0;
}


/* marco de lineas blancas*/





@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 10px 0;
  }
}

.gtco-nav #gtco-logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
 
}



@media screen and (max-width: 768px) {

  .gtco-nav .menu-1,
  .gtco-nav .menu-2 {
    display: none;
  }
}

.gtco-nav ul {
  padding: 0;
  margin: .4em 0 0 0;
}

.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  line-height: 1.5;
}
/* LETRAS DEL MENU*/
.gtco-nav ul li>a {
  text-transform: uppercase;
  font-size: 17px !important;
  letter-spacing: .05em;
}
/* LETRAS DEL MENU*/

.gtco-nav ul li a {
  font-size: 10px;
  padding: 0px 10px;
  color: #fffefe;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}










.gtco-nav ul li.active>a {
  color: #000001 !important;
}

@media screen and (max-width: 480px) {
  #gtco-header .text-left {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) {
  #gtco-header .btn {
    display: block;
    width: 100%;
  }
}

#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;

}

.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-cover {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}


.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(29, 43, 83, 0.89);
}

.gtco-cover>.gtco-container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .gtco-cover {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-sm {
  height: 600px;
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
    height: inherit !important;
  }
}

.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
    height: inherit !important;
    padding: 3em 0;
  }
}

/*fondo verde y negro service y cotizacio*/

.gtco-cover.gtco-cover-xs {
  height: 1300px;

}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}

.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 100px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
/*FONDO PARTE BAJA*/
#gtco-footer {

 

  background: -webkit-linear-gradient(-70deg, rgb(11, 37, 191), rgb(241, 0, 255));
  background: linear-gradient(-70deg, rgb(11, 37, 191), rgb(241, 0, 255));
  

  
  padding: 10em 0 0 0 !important;
  margin-bottom: 20 !important;
  width: 100%;
  float: center;
}


#gtco-footer .gtco-cta {
  margin-bottom: 100px;
}
/*letras fondo bajo*/
#gtco-footer .gtco-cta h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
}
/* cuadro de fondo bajo*/


#gtco-footer .gtco-cta .btn-white {
  padding: 20px 100px !important;
}

#gtco-footer .gtco-cta .btn-white.btn-outline:hover {
  color: #e0d2d2 !important;
}
/*letras ecuamaquetas fondo bajo*/


#gtco-footer .gtco-footer-paragraph h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

#gtco-footer .gtco-footer-link {
  padding-left: 20px;
}



@media screen and (max-width: 768px) {
  #gtco-footer .gtco-footer-link {
    padding-left: 15px;
  }
}

#gtco-footer .gtco-footer-link .gtco-list-link {
  padding: 0;
  margin: 0;
}

#gtco-footer .gtco-footer-link .gtco-list-link li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-footer .gtco-footer-link .gtco-list-link li a {
  text-transform: uppercase;
  font-size: 13px !important;
}

#gtco-footer .gtco-footer-subscribe {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  #gtco-footer .gtco-footer-subscribe {
    padding-left: 15px;
  }
}
/*cuadro de enviar*/

#gtco-footer .gtco-footer-subscribe .form-control {
  background: #3a3939 !important;
  border: none !important;
}

/*franja ultima*/

#gtco-footer .gtco-copyright {
  
 

  background: -webkit-linear-gradient(-51deg, rgb(112, 123, 186), rgb(70, 65, 71));
  background: linear-gradient(-51deg, rgb(112, 123, 186), rgb(70, 65, 71));
  

  padding: 50px 10px;
  float: left;
  width: 100%;
}

#gtco-footer .gtco-copyright p:last-child {
  margin-bottom: 0;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gtco-staff,
.gtco-item {
  margin-bottom: 4em;
  float: left;
  width: 100%;
  display: block;
}



.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}

.gtco-contact-info ul {
  padding: 0;
  margin: 0;
}

.gtco-contact-info ul li {
  padding: 0 0 0 200px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}



#map {
  width: 100%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

form label {
  font-weight: normal !important;
}

/* HEADER =============================================================================== */

#gtco-header {

  background: -webkit-linear-gradient(81deg, rgb(146, 15, 94), rgb(12, 6, 133));
  background: linear-gradient(81deg, rgb(146, 15, 94), rgb(12, 6, 133));
  
  
}

/* no requiere.... parrafo */
#gtco-header p {
  font: oblique bold 150% cursive;
  color: #f0f1f3;
  font-size: 40px;
  margin-bottom: 30px !important;
  margin-top: 100px;
}


/* titulo ecuamaquetas*/
#gtco-header h1 {
  font: oblique bold 100% cursive;
  font-size: 50px;
  line-height: 4.2 !important;
  margin-bottom: 1px !important;
  color: #f9f9f9;
  font-weight: 1;
  margin-top: 20px;
  margin-left: 1px;
 

}

@media screen and (max-width: 768px) {
  #gtco-header h1 {
    line-height: 1.2 !important;
  }
}



#gtco-header .copy {
  margin-top: 0em;
  display: flex;
  justify-content: center;
}
/*cajones inicio*/
#gtco-header .btn {
  color: #ded8de !important;
  text-shadow: none !important;
  font-size: 25px;
}
.btn-white {
    width: 280px;


}

#gtco-header .header-img {
  margin-bottom: 30px;
}

#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#gtco-header .display-tc h1,
#gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: rgb(57, 52, 52);
}

#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {

  #gtco-header .display-tc h1,
  #gtco-counter .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
    
  }
}

#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 70px;
  line-height: 1.5;
  margin-bottom: 0px;

}




/* menu despegable derecha*/
#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 150px;
  

  background: -webkit-linear-gradient(81deg, rgb(146, 15, 94), rgb(12, 6, 133));
  background: linear-gradient(81deg, rgb(146, 15, 94), rgb(12, 6, 133));
  

  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}

.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#gtco-offcanvas a {
  color: rgba(69, 63, 63, 0.985);
}



#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#gtco-offcanvas ul li>ul {
  padding-left: 20px;
  display: none;

}


  /* Better Font Rendering =========== */




.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.gototop.active {
  opacity: ;
  visibility: visible;
}

.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

.gototop a:hover,
.gototop a:active,
.gototop a:focus {
  text-decoration: none;
  outline: none;
}

.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}

.gtco-nav-toggle.active i::before,
.gtco-nav-toggle.active i::after {
  background: #444;
}

.gtco-nav-toggle:hover,
.gtco-nav-toggle:focus,
.gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}


.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}

.gtco-nav-toggle i::before,
.gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}

.gtco-nav-toggle.gtco-nav-white>i {
  color: #514d4d;
  background: #fff;
}

.gtco-nav-toggle.gtco-nav-white>i::before,
.gtco-nav-toggle.gtco-nav-white>i::after {
  background: #413d3d;
}

.gtco-nav-toggle i::before {
  top: -7px;
}

.gtco-nav-toggle i::after {
  bottom: -7px;
}

.gtco-nav-toggle:hover i::before {
  top: -10px;
}

.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

.gtco-nav-toggle.active i {
  background: transparent;
}

.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gtco-nav-toggle {
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 30px;
  text-transform: uppercase;
  text-shadow: none !important;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #000;
  background: #fff;
  border-color: #fff;
}

.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

.btn-white.btn-outline:hover,
.btn-white.btn-outline:focus,
.btn-white.btn-outline:active {
  background: #fff;
  color: #000 !important;
  border: 2px solid #fff;
}



/* COTIZACION*/
@import url('https://fonts.googleapis.com/css2?family=Andromeda&display=swap');




.content-box {
  background-color: #2bb079;


  
  /* Color de fondo verde pastel*/
  padding: 20px;



}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font: oblique bold 200% cursive;
  text-align: center;
  color: #fefdff;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font: oblique bold 200% cursive;
  text-align: center;
  color: #fbfffe;
}

.quote-info {


  padding: 40px;
  text-align: center;
  font: oblique bold 150% cursive;





}

.quote-date {
  border: 2px solid #ffffff;
  padding: 20px;
  text-align: center;
  font-family: 'Andromeda', sans-serif;
}

.quote-info p {
  margin: 0;


}

.quote-date p {
  margin: 0;
}

.quote-info strong {
  font-weight: bold;
}

.quote-date strong {
  font-weight: bold;
}

form {
  margin-top: 10px;
  font: oblique bold 200% cursive;
  text-align: center;
  color: #000000;
}

form label {
  display: flex;
  justify-content: center;
  margin: 5px;
  /* Espacio entre el label y el campo de entrada */
  font: oblique bold 200% cursive;
  color: #ffffff;

}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #0e0e0e;
  border-radius: 5px;
}

#pay-button {
  margin-top: 10px;
  padding: 9px 30px;
  background-color: #4CAF50;
  color: #f8f7f7;

}

form input[type="text"],
form input[type="email"] {
  display: inline-block;
  width: 300px;
  /* Ancho del campo de entrada */
}

.upload-section {

  display: flex;
  justify-content: end;
  color: #ffffff;
  font: oblique bold 200% cursive;

}


select,
input[type="file"] {
  margin-bottom: 10px;
}

#vista-previa {
  margin-top: 20px;
}

/*cuador para subir imagen*/



button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e2e4e4;
  color: rgb(72, 71, 71);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #6ca86f;
}

.vista-previa {
  margin-top: 10px;
  display: flex;
  align-items: center;
  align-items: center;
}

//////////////////////////////////////////////////////////////////////


.cuadro {
  width: 200px;
  height: 00px;
  border: 2px solid rgb(229, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-top: 20vh;
  /* Ajusta este valor para centrarlo verticalmente */
}

/* Estilos para el área de carga de imagen */
.upload-area {
  margin-top: 50px;
  width: 200px;
  height: 200px;
  margin-left: 475px;
  border: 2px dashed rgb(243, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subida {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

----------------------------/* Estilos para el contenedor de los botones */
.titulo h2{
  text-align: center;
font-size:  10px;
  overflow: hidden;
  color: #efecec;
}

/* Estilos para el contenedor de los botones */
.btn-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
;
}

/* Estilos para los botones */
.btn {
  margin: 40px;
  margin-top: 80px;
  padding: 10px 20px;
  background-color: #d08bf8;
  color: rgb(112, 109, 114);
  text-decoration:underline;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(18, 39, 66, 0.9)
}

/* Estilos para el contenido principal */
.content {
  text-align: center;
  margin-top: 50px;
  
}
.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el video de fondo */
.video-background {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 20.25%; /* Relación de aspecto 16:9 */
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query para pantallas de tamaño pequeño (por ejemplo, teléfonos móviles) */
@media screen and (max-width: 768px) {
  .btn-container1 {
      flex-direction: column;
  }
  .btn {
      margin: 10px 0;
  }
}
.gtco-nav-toggle.gtco-nav-white{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}
.img{
  box-shadow: 0 4px 8px rgba(5, 0, 0, 0.5)
}

/*//////////////////////////////////////////////////////////
/*about */

.contenedorabout {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin:auto;
 
}

.texto-lado {
  position: absolute;
  font-size: 40px;
  color: #ffffff;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.536);
  padding: 30px;
  border-radius: 10px;
  padding-bottom: auto;
  width: 1000px;
  height: 400px;
}



.about1{

display: flex;
justify-content: space-around;
}

/*---------------------------------
services*/

.container3  {
 
  display: flex;
 flex-direction: row;
  justify-content:space-around;
  align-items:flex-start

}
.img4 {

display: flex;
flex-direction: column;

}



		

/*//////////////////////////////////////////

compra*/



.from1{
  font-size: 6px;
  margin-top: auto;
}
.img5 {
margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

/*/////////
galeria*/

.galery {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.h7 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
 
 
}